
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
    rel="stylesheet">


  <div class="header">
    <h1>Reliable, efficient delivery</h1>
    <h1>Powered by Technology</h1>

    <p>Our Artificial Intelligence powered tools use millions of project data points
      to ensure that your project is successful</p>
  </div>
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Supervisor</h2>
      <p>Monitors activity to identify project roadblocks</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Team Builder</h2>
      <p>Scans our talent network to create the optimal team for your project</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Calculator</h2>
      <p>Uses data from past projects to provide better delivery estimates</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Karma</h2>
      <p>Regularly evaluates our talent to ensure quality</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>



  <div class="pricing-table">
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Silver</h2>
          </div>
          <div class="ptable-price">
            <h2><small>$</small>99<span>/ M</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Pure HTML & CSS</li>
              <li>Responsive Design</li>
              <li>Well-commented Code</li>
              <li>Easy to Use</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item featured-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-status">
            <span>Hot</span>
          </div>
          <div class="ptable-title">
            <h2>Gold</h2>
          </div>
          <div class="ptable-price">
            <h2><small>$</small>199<span>/ M</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Pure HTML & CSS</li>
              <li>Responsive Design</li>
              <li>Well-commented Code</li>
              <li>Easy to Use</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Platinum</h2>
          </div>
          <div class="ptable-price">
            <h2><small>$</small>299<span>/ M</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Pure HTML & CSS</li>
              <li>Responsive Design</li>
              <li>Well-commented Code</li>
              <li>Easy to Use</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer" class="mt-5">
    <div class="container">
      <div class="disclaimer">
        <div class="soc-med">
          <img src="../../assets/images/facebook.png" alt="facebook" class="soc-med-icon">
          <img src="../../assets/images/instagram.png" alt="facebook" class="soc-med-icon">
          <img src="../../assets/images/twitter.png" alt="facebook" class="soc-med-icon">
        </div>
        <div id="credits">
          <h4>&copy; 2023 Quivato Company</h4>
        </div>
      </div>
    </div>
  </footer>