
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



:root {
  --background-color: #f0f0f0;
  --text-color: #333;
  --accent-color: #007bff;
  --cyan: #00FFFF;
  --red: #FF0000;
  --blue: #0000FF;
  --orange: #FFA500;
  --grayishBlue: hsl(229, 6%, 66%);
}


.dark-mode {
  --background-color: #121212;
  --text-color: #fff;
  --accent-color: #ffbb00;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
