@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 220px;
  height: 130px;
}

#front-page {
  background-image: url("../../assets/images/animated.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: cennter;
  background: transparent;
}

#navigation {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  margin-top: 30px;
}

#navigation a {
  text-decoration: none;
  letter-spacing: 0.4rem;
  color: white;
  margin-left: 30px;
}

#navigation a:hover {
  color: #aeabf0;
}

.slogan {
  text-align: center;
  color: white;
  padding:10rem 10px 10px 10px;
}
.slogan h3 {
  font-size: 60px;
  margin-top: 50px;
  font-family: sans-serif;
}


.btnStarted {
  width: 20%;
}

#aboutUs {
  height: 80vh;
  width: 100%;
}

#aboutUs {
  margin: 30px 0;
  display: flex;
  gap: 10px;
}

.left-side-container {
  flex: 0.5;
  height: 80%;

  padding: 20px;
}

.left-side-container h2 {
  font-size: 40px;
  text-transform: uppercase;
}
.left-side-container p {
  font-size: 20px;
}
.right-side-container {
  flex: 0.5;
  background: url(../../assets/images/solution.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}

#product-section {
  height: 80vh;
  width: 100%;
  background: #1e183b;
}

.product-container {
  display: flex;
}

.right-side-container.product {
  background: none;
}
.right-side-container.product img {
  margin-top: 20px;
}
.left-side-container.product {
  color: white;
}
.left-side-container.product h3 {
  font-size: 50px;
  font-family: "Righteous", cursive;
}

.left-side-container.product ul {
  margin-left: 10px;
}
.left-side-container.product ul li {
  list-style-type: square;
  margin-left: 30px;
  line-height: 20px;
}
.left-side-container.product ul li p {
  font-size: 15px;
}

#description {
  font-style: italic;
  font-size: 15px;
}

#customerFeedback {
  height: 60vh;
}
.feedbackContainer h4 {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}
.col.feedbacks {
  margin-left: 10px;
}

.feedbacks {
  height: 25vh;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.2);
}

.user_profile {
  display: flex;
  padding: 10px;

  border-radius: 10px;
  width: 50%;
  margin-top: 10px;
  background: #e3e3f4;
}

.user_profile h4 {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user_feedbacks {
  padding: 10px;
}
.user_feedbacks p {
  line-height: 1.3em;
}

.user_feedbacks p::before {
  content: open-quote;
  color: red;
  font-size: 40px;
}
.user_feedbacks p::after {
  content: close-quote;
  color: red;
  font-size: 40px;
}

.contact {
  height: 90vh;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.2);
  background: #1e183b;
  color: white;
}
#contact-section {
  height: 100vh;
}

.col.left-contact {
  background: url(../../assets/images/maps.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.col.right-contact {
  padding: 0 40px;
}

.col.right-contact h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

#contact-background {
  width: 100%;
  height: 100%;
}

.col.right-contact input[type="text"] {
  width: 100%;
  height: 50px;
}

.col-right-contact textarea {
  height: 30vh;
}

#contactUsForm {
  margin-left: 60px;
}

#footer {
  height: 25vh;
  background: #1e183b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.disclaimer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.soc-med-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.soc-med-icon:hover {
  transform: scale(1.5);
}

#credits h4 {
  color: white;
  font-size: 15px;
  opacity: 0.7;
  margin-top: 20px;
  margin-left: 10px;
}


figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
   -webkit-mask: none;
   color: #fff;
  }
}

